.show-more-less {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 100px;
  bottom: 50px;

  &__text {
    color: #284657;
    font-size: 18px;
    font-weight: 600;
    line-height: 70%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-right: 10px;
  }

  &__arrow {
    transition: transform 0.4s;

    .expanded & {
      transform: rotate(180deg);
    }
  }
}
