.container {
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    width: 1024px;
  }

  @media screen and (max-width: 1024px) {
    width: 744px;
  }

  @media screen and (max-width: 744px) {
    width: 100%;
  }
}

.btn {
  border-radius: 2px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 70%;
  height: 53px;
  letter-spacing: 0.36px;
  cursor: pointer;
  padding: 20px 40px;
  transition: all 0.3s ease;
  transition-property: color, background-color;

  @media screen and (max-width: 744px) {
    font-size: 16px;
    letter-spacing: 0.32px;
    padding: 16px 32px;
  }

  .main & {
    height: 63px;

    @media screen and (max-width: 1440px) {
      height: 53px;
    }

    @media screen and (max-width: 1024px) {
      height: 63px;
    }

    @media screen and (max-width: 744px) {
      height: 53px;
    }
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.btn_transparent {
  border: 1px solid #284657;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 3px 6px 15px -1px rgba(0, 0, 0, 0.1);
  color: #284657;

  &:hover {
    border: 1px solid #41718C;
    background: #D1E1EA;
  }

  &:active {
    color: #487894;
    border: 1px solid #487894;
    background: #EAF2F8;
  }
}

.btn_solid {
  border: none;
  background: #284657;
  color: #fff;

  &:hover {
    background: #4F6A78;
  }

  &:active {
    background: #1D313C;
    color: #A6C9DE;
  }

  &.inactive {
    background: #1A2D38;
    color: #3E5968;
    cursor: default;
  }
}

.hidden {
  display: none;
}

.input {
  color: #3a3a3a;
  border-radius: 4px;
  border: 1px solid #e8e7e7;
  height: 62px;
  padding: 18px 16px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s ease;

  @media screen and (max-width: 744px) {
    height: 54px;
    font-size: 18px;
  }

  &:active,
  &:focus,
  &:focus-visible {
    border: 1px solid #83c0cd;
  }

  &::placeholder {
    color: #c0c0c0;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__note {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;

    @media screen and (max-width: 744px) {
      font-size: 12px;
    }
  }
}

.invalid .invalid-field {
  border: 1px solid #a51f1f;
}

input[type='radio'] {
  display: none;
}

.label {
  color: #83c0cd;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.36px;
  margin-bottom: 10px;

  @media screen and (max-width: 744px) {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}

.spinner {
  margin: 0 auto;
  border: 10px solid rgba(131, 192, 205, 0.15);
  border-radius: 50%;
  border-top: 10px solid rgba(131, 192, 205, 0.5);
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;

  @media screen and (max-width: 1440px) {
    width: 85px;
    height: 85px;
    border-width: 8.5px;
  }

  @media screen and (max-width: 1024px) {
    width: 70px;
    height: 70px;
    border-width: 7px;
  }

  @media screen and (max-width: 744px) {
    width: 50px;
    height: 50px;
    border-width: 5px;
  }

  &_small {
    width: 53px;
    height: 53px;
    margin: 50px 0 0;
    border-width: 7px;

    @media screen and (max-width: 744px) {
      width: 43px;
      height: 43px;
      border-width: 6px;
      margin-top: 40px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
