.calendar {
  color: #284657;
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__arrow {
    cursor: pointer;

    &_unactive {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__period {
    margin: 0 10px;
    font-size: 14px;
    line-height: 100%;
    min-width: 85px;
    text-align: center;
  }

  &__days {
    display: flex;

    @media screen and (max-width: 1440px) {
      flex-direction: column;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 7);
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (max-width: 1440px) {
      flex-direction: row;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__day {
    padding: 20px;
    border-radius: 4px;
    background: rgba(131, 192, 205, 0.15);
    margin-bottom: 5px;
    height: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s;

    @media screen and (max-width: 1440px) {
      height: 64px;
      min-width: 140px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      height: 50px;
      padding: 16px;
      min-width: 110px;
    }

    @media screen and (max-width: 744px) {
      height: 48px;
    }

    &_weekend {
      color: #83c0cd;
    }

    &_selected {
      background: rgba(131, 192, 205, 0.5);
    }

    &_unavailable {
      cursor: default;
    }
  }

  &__week-day {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 70%;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__day-number {
    font-size: 40px;
    line-height: 70%;

    @media screen and (max-width: 1440px) {
      font-size: 34px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 26px;
    }

    @media screen and (max-width: 744px) {
      font-size: 22px;
    }
  }

  &__times {
    @media screen and (max-width: 1440px) {
      width: 100%;
      display: flex;
      overflow-x: auto;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__time {
    border-radius: 4px;
    background: rgba(131, 192, 205, 0.15);
    padding: 0 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 51px;
    margin-bottom: 5px;
    height: 51px;
    cursor: pointer;
    transition: all 0.3s;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      height: 64px;
      min-width: 120px;
      line-height: 64px;
      margin-left: 5px;
      text-align: center;

      &:first-of-type {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      height: 50px;
      line-height: 50px;
      padding: 0 22px;
      min-width: 125px;
    }

    @media screen and (max-width: 744px) {
      height: 48px;
      line-height: 48px;
      padding: 0 15px;
      min-width: 110px;
    }

    &:last-of-type {
      margin-bottom: 0;

      @media screen and (max-width: 1440px) {
        margin-bottom: 5px;
      }
    }

    &_empty {
      cursor: default;
      background: #f5f5f5;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 700;
      line-height: 51px;

      @media screen and (max-width: 1440px) {
        text-align: left;
        height: 64px;
        width: 100%;
        background: #fbfbfb;
        line-height: 100%;
        padding: 13px 16px;
      }

      @media screen and (max-width: 1024px) {
        height: 50px;
        padding: 0 16px;
        line-height: 50px;
      }
    }

    &_selected {
      background: rgba(131, 192, 205, 0.5);
    }
  }
}
