.header {
  color: #717171;
  text-transform: uppercase;
  line-height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;

  @media screen and (max-width: 1024px) {
    padding: 40px 80px;
  }

  @media screen and (max-width: 744px) {
    padding: 40px 16px;
  }

  &-section {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255 255 255 / 0.8);
    backdrop-filter: blur(10px);
    z-index: 1;
    width: 100%;
  }

  &__label {
    font-size: 20px;
    color: #717171;

    @media screen and (max-width: 744px) {
      font-size: 14px;
    }
  }
}

.burger {
  cursor: pointer;

  &__bar {
    width: 40px;
    height: 2px;
    border-radius: 47px;
    background: #274455;
    margin-top: 10px;

    @media screen and (max-width: 744px) {
      width: 25px;
      height: 1px;
      margin-top: 6.15px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
