.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #92a1a9;

  &__links {
    width: 465px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
  }

  &__link {
    text-decoration: none;
    color: #92a1a9;
  }
}
