.react-tel-input {
  & .form-control {
    border-radius: 4px;
    border: 1px solid #e8e7e7;
    background: transparent;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    transition: all 0.3s ease;
    color: #3a3a3a;
    width: 100%;
    padding-left: 55px;
    height: 62px;

    @media screen and (max-width: 744px) {
      height: 54px;
      font-size: 18px;
    }

    &::placeholder {
      color: #c0c0c0;
    }

    &.default {
      padding-left: 16px;
    }
  }

  & .flag-dropdown {
    background-color: #fff;
    border: 1px solid #e8e7e7;
    border-right: none;
    padding: 5px;

    .invalid &.invalid-field {
      border: 1px solid #a51f1f;
      border-right: none;
    }
  }

  & .country-list {
    margin: 15px 0 10px -6px;
  }
}
